/*This document gives us a cute chocobo face background while the main portions of the game look similar to a Final Fantasy menu*/

body{
    background-image: url("../images/chocobo-wallpaper.png");
    font-family: 'Righteous', cursive;
    font-size: 2em;
    color: #e2d9d9;
}

.pic-position{
    margin-top: 25px;
}

.position, .title{
    
    border: 6px solid rgb(247, 243, 243);
    background: linear-gradient(135deg, blue, black);

}


.position{
    margin-top: 75px !important;
    width: 60%; 
}

h1{
    font-family: url("../images/finalf.ttf") format("truetype");
    font-style: italic;
}